version: '3.8'

services:
  web:
    build: .
    ports:
      - "5055:8080"
    environment:
      - ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=cursosonline;Username=postgres;Password=postgres
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      - db

  db:
    image: postgres:16
    environment:
      - POSTGRES_DB=cursosonline
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
